## Import Pandas

In [3]:
import pandas as pd

## Read the Data

In [4]:
data = pd.read_csv('data-titanic.csv', index_col=3)
data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

### Remove one column

In [5]:
data.drop('Ticket', axis=1, inplace=True)
data.head()

### Remove more than one column

In [7]:
data.drop(['PassengerId', 'Parch', 'Fare'], axis=1, inplace=True)

In [8]:
data.head()

,Survived,Pclass,Sex,Age,SibSp,Cabin,Embarked
Name,,,,,,,
"Braund, Mr. Owen Harris",0,3,male,22.0,1,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",1,1,female,38.0,1,C85,C
"Heikkinen, Miss. Laina",1,3,female,26.0,0,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,female,35.0,1,C123,S
"Allen, Mr. William Henry",0,3,male,35.0,0,NaN,S