## Import Pandas

In [3]:
import pandas as pd

## Read the Data

In [4]:
data = pd.read_csv('data-zillow.csv', sep=',')
data.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

## Filter columns by name using filter()

In [5]:
filtered_data = data.filter(items=['State', 'Metro'])
filtered_data.head()

  State                           Metro
0    NY                        New York
1    CA  Los Angeles-Long Beach-Anaheim
2    IL                         Chicago
3    PA                    Philadelphia
4    AZ                         Phoenix

## Filter columns by regular expression

In [6]:
filtered_data = data.filter(regex='Region', axis=1)
filtered_data.head()

   RegionID    RegionName
0      6181      New York
1     12447   Los Angeles
2     17426       Chicago
3     13271  Philadelphia
4     40326       Phoenix

## Filter using boolean condition

In [11]:
filtered_data = data['Zhvi'] > 500000
filtered_data.head()

0     True
1     True
2    False
3    False
4    False
Name: Zhvi, dtype: bool

In [13]:
data[filtered_data].head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300