## Import Pandas

In [1]:
import pandas as pd

## Read the Data

In [2]:
zillow = pd.read_table('data-zillow.csv', sep=',')
zillow.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

## Simple sort

In [5]:
zillow.sort_values('Metro')
print(zillow[['State', 'Metro', 'County']].head(10),"\nTail\n",zillow[['State', 'Metro', 'County']].tail(10))

  State                           Metro        County
0    NY                        New York        Queens
1    CA  Los Angeles-Long Beach-Anaheim   Los Angeles
2    IL                         Chicago          Cook
3    PA                    Philadelphia  Philadelphia
4    AZ                         Phoenix      Maricopa
5    NV                       Las Vegas         Clark
6    CA                       San Diego     San Diego
7    TX               Dallas-Fort Worth        Dallas
8    CA                        San Jose   Santa Clara
9    FL                    Jacksonville         Duval
Tail
       State         Metro      County
10820    NC     Asheville   Henderson
10821    IN  Kendallville       Noble
10822    MD           NaN    Caroline
10823    NY      Kingston      Ulster
10824    AL    Montgomery     Autauga
10825    OR           NaN   Tillamook
10826    TX       Houston   Galveston
10827    NJ      New York   Hunterdon
10828    VA      Richmond     Henrico
10829    NH        Boston  Rockingham

## Changing the sort order

In [6]:
sorted = zillow.sort_values('Metro', ascending=False)
sorted.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
8064,2017-05-31,19538,Nashport,OH,Zanesville,Muskingum,8064,153800
10271,2017-05-31,15262,Hopewell,OH,Zanesville,Muskingum,10271,138700
10373,2017-05-31,49730,Norwich,OH,Zanesville,Muskingum,10373,145100
5423,2017-05-31,53527,New Concord,OH,Zanesville,Muskingum,5423,138300
7595,2017-05-31,17815,Dresden,OH,Zanesville,Muskingum,7595,118400

## Sort by more than one column

In [7]:
sorted = zillow.sort_values(by=['Metro','County'])
sorted.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
2073,2017-05-31,30116,Aberdeen,WA,Aberdeen,Grays Harbor,2073,127800
4568,2017-05-31,56078,Montesano,WA,Aberdeen,Grays Harbor,4568,182000
4996,2017-05-31,36873,Elma,WA,Aberdeen,Grays Harbor,4996,175200
5090,2017-05-31,35514,Hoquiam,WA,Aberdeen,Grays Harbor,5090,95700
7108,2017-05-31,6275,Oakville,WA,Aberdeen,Grays Harbor,7108,186900

## Sort by multiple columns and mixed ascending order

In [8]:
sorted = zillow.sort_values(by=['Metro','County', 'Zhvi'], 
                            ascending=[True, True, False])
sorted.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
7108,2017-05-31,6275,Oakville,WA,Aberdeen,Grays Harbor,7108,186900
4568,2017-05-31,56078,Montesano,WA,Aberdeen,Grays Harbor,4568,182000
4996,2017-05-31,36873,Elma,WA,Aberdeen,Grays Harbor,4996,175200
8420,2017-05-31,19269,McCleary,WA,Aberdeen,Grays Harbor,8420,170700
9401,2017-05-31,33215,Ocean Shores,WA,Aberdeen,Grays Harbor,9401,152400