## Import Pandas

In [1]:
import pandas as pd

data = pd.read_csv('data-zillow.csv')
data.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

## Get Regions count for every State

In [3]:
grouped_data = data[['State', 'RegionName']].groupby('State').count()
grouped_data.head()

       RegionName
State
AK             12
AL            149
AR             82
AZ            102
CA            701

## Get number of records per each state

In [5]:
grouped_data = data.groupby(['State']).size()
grouped_data.head(10)

State
AK     12
AL    149
AR     82
AZ    102
CA    701
CO    166
CT    183
DC      1
DE     26
FL    528
dtype: int64

## Split the data into groups

In [8]:
grouped_data = data[['State', 'Price']].groupby('State')

## Apply a function on each group and combine the results

In [10]:
grouped_data.mean().head()

        Price
State
AK     237783
AL     137645
AR     136331
AZ     232353
CA     617425

## Group by data on State and Region

In [16]:
grouped_data = data[['State',
                     'RegionName', 
                     'Price']].groupby(['State','RegionName']).mean()
grouped_data.head()

                     Price
State RegionName
AK    Anchor Point  175800
      Anchorage     293900
      Fairbanks     221000
      Juneau        323100
      Kenai         206500

## Get the number of records per State

In [13]:
grouped_data = data.groupby(['State']).size()
grouped_data

State
AK      12
AL     149
AR      82
AZ     102
CA     701
CO     166
CT     183
DC       1
DE      26
FL     528
GA     266
HI      43
IA      63
ID      33
IL     496
IN     418
KS      52
KY     118
LA     148
MA     334
MD     318
ME       1
MI     461
MN     155
MO     202
MS     135
MT      20
NC     293
ND      12
NE      20
NH     190
NJ     577
NM      26
NV      26
NY     717
OH     507
OK      70
OR     164
PA    1208
RI      41
SC     138
TN     350
TX     397
UT      81
VA     228
WA     275
WI     270
WV      17
WY      10
dtype: int64