## Import Pandas

In [32]:
import pandas as pd

## Data Sample

In [33]:
dataset = pd.DataFrame({'DOB': ['1976-06-01', '1980-09-23', '1984-03-30', '1991-12-31', '1994-10-2', '1973-11-11'],
                        'Sex': ['F', 'M', 'F', 'M', 'M', 'F'],
                        'State': ['CA', 'NY', 'OH', 'OR', 'TX', 'CA'],
                        'Name': ['Alice', 'Bob', 'Cathy', 'Don', 'John', 'Tom']})

In [34]:
print(dataset.head(), '\n')
print(dataset.dtypes)

          DOB Sex State   Name
0  1976-06-01   F    CA  Alice
1  1980-09-23   M    NY    Bob
2  1984-03-30   F    OH  Cathy
3  1991-12-31   M    OR    Don
4   1994-10-2   M    TX   John

DOB      object
Sex      object
State    object
Name     object
dtype: object

## let's first convert our date column to `datetime`

In [35]:
dataset.DOB = pd.to_datetime(dataset.DOB)
print(dataset.dtypes)

DOB      datetime64[ns]
Sex              object
State            object
Name             object
dtype: object

In [36]:
print(dataset.head(), '\n')

         DOB Sex State   Name
0 1976-06-01   F    CA  Alice
1 1980-09-23   M    NY    Bob
2 1984-03-30   F    OH  Cathy
3 1991-12-31   M    OR    Don
4 1994-10-02   M    TX   John

### Filter and select time series Data

In [37]:
dataset[dataset.index.isin(['1980', '1984'])]

Empty DataFrame
Columns: [DOB, Sex, State, Name]
Index: []

### Get properties of date-time series data

In [38]:
dataset.DOB.dt.dayofyear

0    153
1    267
2     90
3    365
4    275
5    315
Name: DOB, dtype: int32

In [39]:
dataset.DOB.dt.day_name()

0    Tuesday
1    Tuesday
2     Friday
3    Tuesday
4     Sunday
5     Sunday
Name: DOB, dtype: object